<h1 style="text-align: center;">{{title}}</h1>

<!-- Ahora creamos el Formulario -->
<form class="container">

  <input type="text" name="name" [(ngModel)] = "name"><br/>
  <input type="text" name="apellido" [(ngModel)] = "surname"><br/>
  <input type="text" name="cargo" [(ngModel)] = "cargo"><br/>
  <input type="submit" value="Regístrate" (click)="registrarUsuario()"><br/>

</form>
<br/>
<p *ngIf="registro; else sinRegistrar">{{mensage}} con el nombre {{name}} {{surname}}
y tiene el cargo de <span [ngClass]="{paraDirectores:cargo=='director'}">{{cargo}}</span></p>
<!-- Funciona con ngClass y debajo comentada la directiva: ngStyle -->
<!-- [ngStyle]="{color: cargo=='director' ? 'red' : 'blue'}" -->
<ng-template #sinRegistrar>
  <p>Nadie Registrado</p>
</ng-template>
<br/><br/>
<ul>
  <li *ngFor="let entrada of entradas">{{entrada.titulo}}</li>
</ul>



